# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who:
   - have a **low total_claim_amount** (e.g., below $1,000),
   - have a response "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze:
   - the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes", and
   - compare these insights to `total_claim_amount` patterns, and discuss which segments appear most profitable or low-risk for the company.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = pd.read_csv(url)

df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [2]:
df = pd.read_csv(url)
# standardize column names
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

1. Dataframe filtered by low claim amount and responded yes:

In [3]:
df_filtered = df[(df["total_claim_amount"] <= 1000) & (df["response"] == "Yes")]
df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

2. Using the original Dataframe, I filtered by "responded yes" and compared the average CLV to the TCA:
   - For some reason, only women have a policy for "Special Auto";
   - Women have a higher average CLV  and lower average TCA for "Personal auto";
   - The opposite verifies for "Corporate Auto".

In [11]:
responded_yes = df[df["response"] == "Yes"]
df_filtered_clf = responded_yes.groupby(['policy_type', 'gender'])['customer_lifetime_value'].mean()
df_filtered_clf.head()

policy_type     gender
Corporate Auto  F         7712.628736
                M         7944.465414
Personal Auto   F         8339.791842
                M         7448.383281
Special Auto    F         7691.584111
Name: customer_lifetime_value, dtype: float64

In [12]:
responded_yes = df[df["response"] == "Yes"]
df_filtered_tca = responded_yes.groupby(['policy_type', 'gender'])['total_claim_amount'].mean()
df_filtered_tca.head()

policy_type     gender
Corporate Auto  F         433.738499
                M         408.582459
Personal Auto   F         452.965929
                M         457.010178
Special Auto    F         453.280164
Name: total_claim_amount, dtype: float64

In [6]:
state_counts = df["state"].value_counts()

state_filtered = state_counts[state_counts > 500]

print(state_counts)

state
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

4. Insights:
   - Master & Doctor have the highest minimum CLV for both genders, however, Highschool has it higher than both College and Bachelor (women's is higher,except);
   - For max, mostly women have a higher max CLV (except for Highschool, which is much higher for men);
   - The median is in the same 5k - 6k range for every group.

In [7]:
df.groupby(['education', 'gender'])['customer_lifetime_value'].min()

education             gender
Bachelor              F         1904.000852
                      M         1898.007675
College               F         1898.683686
                      M         1918.119700
Doctor                F         2395.570000
                      M         2267.604038
High School or Below  F         2144.921535
                      M         1940.981221
Master                F         2417.777032
                      M         2272.307310
Name: customer_lifetime_value, dtype: float64

In [8]:
df.groupby(['education', 'gender'])['customer_lifetime_value'].max()

education             gender
Bachelor              F         73225.95652
                      M         67907.27050
College               F         61850.18803
                      M         61134.68307
Doctor                F         44856.11397
                      M         32677.34284
High School or Below  F         55277.44589
                      M         83325.38119
Master                F         51016.06704
                      M         50568.25912
Name: customer_lifetime_value, dtype: float64

In [9]:
df.groupby(['education', 'gender'])['customer_lifetime_value'].median()

education             gender
Bachelor              F         5640.505303
                      M         5548.031892
College               F         5623.611187
                      M         6005.847375
Doctor                F         5332.462694
                      M         5577.669457
High School or Below  F         6039.553187
                      M         6286.731006
Master                F         5729.855012
                      M         5579.099207
Name: customer_lifetime_value, dtype: float64

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [26]:
import pandas as pd

df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])

df['month_of_purchase'] = df['effective_to_date'].dt.month_name()

df['month_of_purchase'].value_counts()

month_of_purchase
January     5818
February    5092
Name: count, dtype: int64

In [27]:
pivoted_data = df.pivot_table(
    index='state',
    columns='month_of_purchase',
    values='policy_type',
    aggfunc=lambda x: x.value_counts().index[0]
).reset_index()

pivoted_data.head()

month_of_purchase       state       February        January
0                     Arizona  Personal Auto  Personal Auto
1                  California  Personal Auto  Personal Auto
2                      Nevada  Personal Auto  Personal Auto
3                      Oregon  Personal Auto  Personal Auto
4                  Washington  Personal Auto  Personal Auto

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [32]:
import pandas as pd

#identify the top 3 states
state_totals = df['state'].value_counts().head(3)
top_states = state_totals.index.tolist()

#filter by the top 3 states
df_top_states = df[df['state'].isin(top_states)]

#number of policies sold by month and state
monthly_sales = (
    df_top_states
    .groupby(['state', 'month_of_purchase'])
    .size()
    .reset_index(name='num_policies_sold')
)

#define structure of pvt, months and columns and states on rows
monthly_sales_pivot = (
    monthly_sales
    .pivot(index='state', columns='month_of_purchase', values='num_policies_sold')
    .fillna(0)
    .astype(int)
)

#ensure months are in the proper order
monthly_sales_pivot = monthly_sales_pivot.reindex(
    columns=[m for m in month_order if m in monthly_sales_pivot.columns]
)

monthly_sales_pivot

month_of_purchase  January  February
state
Arizona               1008       929
California            1918      1634
Oregon                1565      1344

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9